@import "reset.css";

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#left {
    flex: 1 1 50vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    background: linear-gradient(to bottom right, #606B9B,  #B191D4);
    padding: 8vh 8vw;
    box-shadow: 2vw 0 2vw #969696;
}

#right {
    flex: 1 1 50vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 8vh 8vw;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60pt;
    color: white;
    margin: 0.3em 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35pt;
    color: #70C7A9;
    margin: 0.3em 0;
}

#signIntro {
    font-family: 'Raleway', sans-serif;
    font-size: 50pt;
    color: #606B9B;
    margin: 0.3em 0;
}

input {
    font-size: 25pt;
    background-color: lightgray;
    color: #969696;
    border: none;
    margin: 0.3em 0;
    padding: 0.3em 0.6em;
}

button {
    font-family: Helvetica, sans-serif;
    font-size: 25pt;
    color: white;
    border: none;
    border-radius: 0.4em;
    padding: 0.3em 1.2em;
    margin: 0.3em 0;
}

#login {
    background-color: #70C7A9;
    align-self: flex-end;
}

#my-signin2 {
    background-image: url("image");
}